<div class="row">

    <!-- Single Product -->
    <div class="col-12 col-sm-6 col-lg-4" *ngFor="let product of products; let i = index">
        <div class="single-product-wrapper">
            <!-- <pre>{{ product | json }}</pre> -->
            <!-- Product Image -->
            <div class="product-img">
                <img [src]="setPrimaryImage(product)">
                <!-- Hover Thumb -->
                <img *ngIf="setHoverImage(product)" class="hover-img" [src]="setHoverImage(product)">

                <!-- Product Badge -->
                
                <!-- Favourite -->
                <div class="product-favourite">
                    <a (click)="addToFavorite(product)" href="javascript:void(0)" class="favme fa fa-heart" [ngClass]="{'favorite': product.favorite}"></a>
                </div>
            </div>

            <!-- Product Description -->
            <div class="product-description">
                <span [innerHtml]="product.categories[product.categories.length - 1].name"></span>
                <a href="javascript:void(0)" (click)="redirect(product)">
                    <h6>{{ product.name }}</h6>
                </a>
                <p class="product-price"><span class="old-price">${{ product.regular_price }}</span> ${{ product.price }}</p>

                <!-- Hover Content -->
                <div class="hover-content">
                    <!-- Add to Cart -->
                    <div class="add-to-cart-btn">
                        <a (click)="addToCart(product);$event.stopPropagation()" href="javascript:void(0)" class="btn essence-btn">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-snackbar *ngIf="snack" [show]="snack" [message]="snackbarMessage"></app-snackbar>

</div>