<div class="row">

    <!-- Single Product -->
    <div class="col-12 col-sm-6 col-lg-4" *ngFor="let product of products; let i = index">
        <div class="single-product-wrapper">
            <!-- Product Image -->
            <div class="product-img">
                <img src="/assets/img/product-img/product-1.jpg" alt="">
                <!-- Hover Thumb -->
                <img class="hover-img" src="/assets/img/product-img/product-2.jpg" alt="">

                <!-- Product Badge -->
                <div class="product-badge offer-badge">
                    <span>-50%</span>
                </div>
                <!-- Favourite -->
                <div class="product-favourite">
                    <a href="javascript:void(0)" class="favme fa fa-heart"></a>
                </div>
            </div>

            <!-- Product Description -->
            <div class="product-description">
                <span>topshop</span>
                <a href="single-product-details.html">
                    <h6>{{ product.name }}</h6>
                </a>
                <p class="product-price"><span class="old-price">${{ product.regular_price }}</span> ${{ product.price }}</p>

                <!-- Hover Content -->
                <div class="hover-content">
                    <!-- Add to Cart -->
                    <div class="add-to-cart-btn">
                        <a href="javascript:void(0)" class="btn essence-btn">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>