<!-- ##### Single Widget ##### -->
<div class="widget catagory mb-50">
  <!-- Widget Title -->
  <h6 class="widget-title mb-30">Catagories</h6>

  <!--  Catagories  -->
  <div class="catagories-menu">
      <ul id="menu-content2" class="menu-content collapse show">
          <!-- Single Item -->
          <li data-toggle="collapse" data-target="#clothing">
              <a href="javascript:void(0)">clothing</a>
              <ul class="sub-menu collapse show" id="clothing">
                  <li><a href="javascript:void(0)">All</a></li>
                  <li><a href="javascript:void(0)">Bodysuits</a></li>
                  <li><a href="javascript:void(0)">Dresses</a></li>
                  <li><a href="javascript:void(0)">Hoodies &amp; Sweats</a></li>
                  <li><a href="javascript:void(0)">Jackets &amp; Coats</a></li>
                  <li><a href="javascript:void(0)">Jeans</a></li>
                  <li><a href="javascript:void(0)">Pants &amp; Leggings</a></li>
                  <li><a href="javascript:void(0)">Rompers &amp; Jumpsuits</a></li>
                  <li><a href="javascript:void(0)">Shirts &amp; Blouses</a></li>
                  <li><a href="javascript:void(0)">Shirts</a></li>
                  <li><a href="javascript:void(0)">Sweaters &amp; Knits</a></li>
              </ul>
          </li>
          <!-- Single Item -->
          <li data-toggle="collapse" data-target="#shoes" class="collapsed">
              <a href="javascript:void(0)">shoes</a>
              <ul class="sub-menu collapse" id="shoes">
                  <li><a href="javascript:void(0)">All</a></li>
                  <li><a href="javascript:void(0)">Bodysuits</a></li>
                  <li><a href="javascript:void(0)">Dresses</a></li>
                  <li><a href="javascript:void(0)">Hoodies &amp; Sweats</a></li>
                  <li><a href="javascript:void(0)">Jackets &amp; Coats</a></li>
                  <li><a href="javascript:void(0)">Jeans</a></li>
                  <li><a href="javascript:void(0)">Pants &amp; Leggings</a></li>
                  <li><a href="javascript:void(0)">Rompers &amp; Jumpsuits</a></li>
                  <li><a href="javascript:void(0)">Shirts &amp; Blouses</a></li>
                  <li><a href="javascript:void(0)">Shirts</a></li>
                  <li><a href="javascript:void(0)">Sweaters &amp; Knits</a></li>
              </ul>
          </li>
          <!-- Single Item -->
          <li data-toggle="collapse" data-target="#accessories" class="collapsed">
              <a href="javascript:void(0)">accessories</a>
              <ul class="sub-menu collapse" id="accessories">
                  <li><a href="javascript:void(0)">All</a></li>
                  <li><a href="javascript:void(0)">Bodysuits</a></li>
                  <li><a href="javascript:void(0)">Dresses</a></li>
                  <li><a href="javascript:void(0)">Hoodies &amp; Sweats</a></li>
                  <li><a href="javascript:void(0)">Jackets &amp; Coats</a></li>
                  <li><a href="javascript:void(0)">Jeans</a></li>
                  <li><a href="javascript:void(0)">Pants &amp; Leggings</a></li>
                  <li><a href="javascript:void(0)">Rompers &amp; Jumpsuits</a></li>
                  <li><a href="javascript:void(0)">Shirts &amp; Blouses</a></li>
                  <li><a href="javascript:void(0)">Shirts</a></li>
                  <li><a href="javascript:void(0)">Sweaters &amp; Knits</a></li>
              </ul>
          </li>
      </ul>
  </div>
</div>