<!-- ##### Single Widget ##### -->
<div class="widget catagory mb-50">
  <!-- Widget Title -->
  <h6 class="widget-title mb-30">Catagories</h6>

  <!--  Catagories  -->
  <div class="catagories-menu">
      <ul id="menu-content2" class="menu-content collapse show">
          <!-- Single Item -->
          <li data-toggle="collapse" *ngFor="let category of allCategories; let i = index">
              <a (click)="collapseMenu(i)" href="javascript:void(0)" [innerHtml]="category.name"></a>
              <ul class="sub-menu collapse" [ngClass]="{'show': allCategories[i].show}" [id]="category.slug">
                <li>
                    <a (click)="redirect(sc.slug)" href="javascript:void(0)" *ngFor="let sc of category.sub_categories" [innerHtml]="sc.name"></a>
                </li>
              </ul>
          </li>
      </ul>
  </div>
</div>