<!-- ##### Shop Grid Area Start ##### -->
<section class="shop_grid_area section-padding-80">
  <div class="container">
      <div class="row">
          <div class="col-12 col-md-4 col-lg-3">
              <div class="shop_sidebar_area">

                <!-- Category widget -->
                <app-widget-category></app-widget-category>
                <!-- End Category widget -->

                <!-- Filter widget -->
                <app-widget-filter></app-widget-filter>
                <!-- End Filter widget -->

              </div>
          </div>

          <div class="col-12 col-md-8 col-lg-9">
              <div class="shop_grid_product_area">
                  <div class="row">
                      <div class="col-12">
                          <div class="product-topbar d-flex align-items-center justify-content-between">
                              <!-- Total Products -->
                              <div class="total-products" *ngIf="!isHomePage">
                                  <p><span>{{ currentCategory?.count }}</span> products found</p>
                              </div>
                          </div>
                      </div>
                  </div>
                
                <!-- Product widget -->
                <app-widget-product *ngIf="products" [products]="products"></app-widget-product>
                <!-- End Product widget -->
                  
              </div>
              <!-- Pagination -->
              <app-pagination></app-pagination>
              <!-- End Pagination -->
          </div>
      </div>
  </div>
</section>
<!-- ##### Shop Grid Area End ##### -->