<!-- ##### Single Widget ##### -->
<div class="widget price mb-50">
    <!-- Widget Title -->
    <h6 class="widget-title mb-30">Filter by</h6>
    <!-- Widget Title 2 -->
    <p class="widget-title2 mb-30">Price</p>

    <div class="widget-desc">
        <div class="slider-range">
            <div data-min="49" data-max="360" data-unit="$" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="49" data-value-max="360" data-label-result="Range:">
                <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
            </div>
            <div class="range-price">Range: $49.00 - $360.00</div>
        </div>
    </div>
</div>

<!-- ##### Single Widget ##### -->
<div class="widget color mb-50">
    <!-- Widget Title 2 -->
    <p class="widget-title2 mb-30">Color</p>
    <div class="widget-desc">
        <ul class="d-flex">
            <li>
                <a href="javascript:void(0)" class="color1"></a>
            </li>
            <li>
                <a href="javascript:void(0)" class="color2"></a>
            </li>
            <li>
                <a href="javascript:void(0)" class="color3"></a>
            </li>
            <li>
                <a href="javascript:void(0)" class="color4"></a>
            </li>
            <li>
                <a href="javascript:void(0)" class="color5"></a>
            </li>
            <li>
                <a href="javascript:void(0)" class="color6"></a>
            </li>
            <li>
                <a href="javascript:void(0)" class="color7"></a>
            </li>
            <li>
                <a href="javascript:void(0)" class="color8"></a>
            </li>
            <li>
                <a href="javascript:void(0)" class="color9"></a>
            </li>
            <li>
                <a href="javascript:void(0)" class="color10"></a>
            </li>
        </ul>
    </div>
</div>

<!-- ##### Single Widget ##### -->
<div class="widget brands mb-50">
    <!-- Widget Title 2 -->
    <p class="widget-title2 mb-30">Brands</p>
    <div class="widget-desc">
        <ul>
            <li><a href="javascript:void(0)">Asos</a></li>
            <li><a href="javascript:void(0)">Mango</a></li>
            <li><a href="javascript:void(0)">River Island</a></li>
            <li><a href="javascript:void(0)">Topshop</a></li>
            <li><a href="javascript:void(0)">Zara</a></li>
        </ul>
    </div>
</div>